@import "tailwindcss";
 @plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 .overlay-bg{
  background: #ffffff;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 245, 245, 1) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 100%, rgba(230, 225, 225, 1) 100%, rgba(255, 255, 255, 1) 100%);
 }